<div>
    <h2 id="page-heading">
        <span>Designs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-designs" [routerLink]="['/designs/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Designs
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="designs?.length === 0">
        <span>No designs found</span>
    </div>
    <div class="table-responsive" *ngIf="designs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="designCode"><span>Design Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="designName"><span>Design Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="designPrefix"><span>Design Prefix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="relatedProduct.id"><span>Related Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let designs of designs ;trackBy: trackId">
                <td><a [routerLink]="['/designs', designs.id, 'view' ]">{{designs.id}}</a></td>
                <td>{{designs.designCode}}</td>
                <td>{{designs.designName}}</td>
                <td>{{designs.designPrefix}}</td>
                <td>
                    <div *ngIf="designs.relatedProduct">
                        <a [routerLink]="['/products', designs.relatedProduct?.id, 'view' ]" >{{designs.relatedProduct?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="designs.location">
                        <a [routerLink]="['/location', designs.location?.id, 'view' ]" >{{designs.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="designs.history">
                        <a [routerLink]="['/document-history', designs.history?.id, 'view' ]" >{{designs.history?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/designs', designs.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/designs', designs.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(designs)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
