<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uOM">
            <h2><span>UOM</span> {{uOM.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uom Code</span></dt>
                <dd>
                    <span>{{uOM.uomCode}}</span>
                </dd>
                <dt><span>Uom Description</span></dt>
                <dd>
                    <span>{{uOM.uomDescription}}</span>
                </dd>
                <dt><span>History</span></dt>
                <dd>
                    <div *ngIf="uOM.history">
                        <a [routerLink]="['/document-history', uOM.history?.id, 'view']">{{uOM.history?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uom', uOM.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
