<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span>Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company Code</span></dt>
                <dd>
                    <span>{{company.companyCode}}</span>
                </dd>
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{company.companyName}}</span>
                </dd>
                <dt><span>Company Reg Number</span></dt>
                <dd>
                    <span>{{company.companyRegNumber}}</span>
                </dd>
                <dt><span>Rating</span></dt>
                <dd>
                    <span>{{company.rating}}</span>
                </dd>
                <dt><span>History</span></dt>
                <dd>
                    <div *ngIf="company.history">
                        <a [routerLink]="['/document-history', company.history?.id, 'view']">{{company.history?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
