<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ex-user-heading">Create or edit a Ex User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userKey">User Key</label>
                    <input type="text" class="form-control" name="userKey" id="field_userKey"
                           formControlName="userKey"/>
                    <div *ngIf="editForm.get('userKey').invalid && (editForm.get('userKey').dirty || editForm.get('userKey').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userKey').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_relatedUser">Related User</label>
                    <select class="form-control" id="field_relatedUser" name="relatedUser" formControlName="relatedUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('relatedUser').value?.id ? editForm.get('relatedUser').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option *ngIf="!editForm.get('company').value" [ngValue]="null" selected></option>
                        <option [ngValue]="companyOption.id === editForm.get('company').value?.id ? editForm.get('company').value : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('company').invalid && (editForm.get('company').dirty || editForm.get('company').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('company').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_history">History</label>
                    <select class="form-control" id="field_history" name="history" formControlName="history">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentHistoryOption.id === editForm.get('history').value?.id ? editForm.get('history').value : documentHistoryOption" *ngFor="let documentHistoryOption of documenthistories; trackBy: trackDocumentHistoryById">{{documentHistoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_locations">Locations</label>
                    <select class="form-control" id="field_locations" multiple name="locations" formControlName="locations">
                        <option [ngValue]="getSelected(editForm.get('locations').value, locationOption)" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('locations').invalid && (editForm.get('locations').dirty || editForm.get('locations').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('locations').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="field_userGroups">User Groups</label>
                    <select class="form-control" id="field_userGroups" multiple name="userGroups" formControlName="userGroups">
                        <option [ngValue]="getSelected(editForm.get('userGroups').value, userGroupOption)" *ngFor="let userGroupOption of usergroups; trackBy: trackUserGroupById">{{userGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
